SimpleOrderSearchConsole/SimpleOrderSearchConsole/Connected Services/SimpleSearchOrder/SearchOrderService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TestSearchOrder">
        <s:complexType />
      </s:element>
      <s:element name="TestSearchOrderResponse">
        <s:complexType />
      </s:element>
      <s:element name="SearchOrder">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="searchCriteria" type="tns:SearchCriteria" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="SearchCriteria">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="OrderId" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="MSA" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="CompletionDte" nillable="true" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="Status" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="SearchOrderResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SearchOrderResult" type="tns:ArrayOfOrderInfo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfOrderInfo">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="OrderInfo" nillable="true" type="tns:OrderInfo" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="OrderInfo">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="OrderId" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="ShipperId" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="DriverId" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="CompletionDte" nillable="true" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="Status" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Code" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="MSA" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Duration" type="s:float" />
          <s:element minOccurs="1" maxOccurs="1" name="OfferType" type="s:int" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="TestSearchOrderSoapIn">
    <wsdl:part name="parameters" element="tns:TestSearchOrder" />
  </wsdl:message>
  <wsdl:message name="TestSearchOrderSoapOut">
    <wsdl:part name="parameters" element="tns:TestSearchOrderResponse" />
  </wsdl:message>
  <wsdl:message name="SearchOrderSoapIn">
    <wsdl:part name="parameters" element="tns:SearchOrder" />
  </wsdl:message>
  <wsdl:message name="SearchOrderSoapOut">
    <wsdl:part name="parameters" element="tns:SearchOrderResponse" />
  </wsdl:message>
  <wsdl:portType name="SearchOrderServiceSoap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="TestSearchOrder">
      <wsdl:input message="tns:TestSearchOrderSoapIn" />
      <wsdl:output message="tns:TestSearchOrderSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SearchOrder">
      <wsdl:input message="tns:SearchOrderSoapIn" />
      <wsdl:output message="tns:SearchOrderSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SearchOrderServiceSoap" type="tns:SearchOrderServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TestSearchOrder">
      <soap:operation soapAction="http://tempuri.org/TestSearchOrder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchOrder">
      <soap:operation soapAction="http://tempuri.org/SearchOrder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="SearchOrderServiceSoap12" type="tns:SearchOrderServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TestSearchOrder">
      <soap12:operation soapAction="http://tempuri.org/TestSearchOrder" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchOrder">
      <soap12:operation soapAction="http://tempuri.org/SearchOrder" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SearchOrderService">
    <wsdl:port name="SearchOrderServiceSoap" binding="tns:SearchOrderServiceSoap">
      <soap:address location="https://localhost:44354/SearchOrderService.asmx" />
    </wsdl:port>
    <wsdl:port name="SearchOrderServiceSoap12" binding="tns:SearchOrderServiceSoap12">
      <soap12:address location="https://localhost:44354/SearchOrderService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>