SimpleOrderSearchClient/Connected Services/SimpleOrderSearch/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SimpleOrderSearch" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SimpleOrderSearch" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="OrderInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="Code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CompletionDte" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DriverID" type="xs:int" />
      <xs:element minOccurs="0" name="Duration" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MSA" type="xs:int" />
      <xs:element minOccurs="0" name="OfferType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OrderID" type="xs:int" />
      <xs:element minOccurs="0" name="ShipperID" type="xs:int" />
      <xs:element minOccurs="0" name="Status" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OrderInfo" nillable="true" type="tns:OrderInfo" />
  <xs:complexType name="OrderInfoResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="OrderInfos" nillable="true" type="tns:ArrayOfOrderInfo" />
      <xs:element minOccurs="0" name="ReturnCode" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OrderInfoResponse" nillable="true" type="tns:OrderInfoResponse" />
  <xs:complexType name="ArrayOfOrderInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="OrderInfo" nillable="true" type="tns:OrderInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfOrderInfo" nillable="true" type="tns:ArrayOfOrderInfo" />
</xs:schema>