SearchOrdersConsole/SearchOrdersConsole/Service References/OrderSearchService/OrderSearchService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="SearchOrder">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="model" type="tns:SearchOrderViewModel" />
            <s:element minOccurs="1" maxOccurs="1" name="page" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="pageSize" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="SearchOrderViewModel">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="OrderId" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="MSA" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="CompletionDte" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="Status" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="SearchOrderResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SearchOrderResult" type="tns:ArrayOfOrders" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfOrders">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Orders" nillable="true" type="tns:Orders" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Orders">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="OrderId" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="ShipperId" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="DriverId" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="CompletionDte" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="Status" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Code" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="MSA" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Duration" type="s:float" />
          <s:element minOccurs="1" maxOccurs="1" name="OfferType" type="s:int" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="SearchOrderSoapIn">
    <wsdl:part name="parameters" element="tns:SearchOrder" />
  </wsdl:message>
  <wsdl:message name="SearchOrderSoapOut">
    <wsdl:part name="parameters" element="tns:SearchOrderResponse" />
  </wsdl:message>
  <wsdl:portType name="OrderSearchServiceSoap">
    <wsdl:operation name="SearchOrder">
      <wsdl:input message="tns:SearchOrderSoapIn" />
      <wsdl:output message="tns:SearchOrderSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="OrderSearchServiceSoap" type="tns:OrderSearchServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SearchOrder">
      <soap:operation soapAction="http://tempuri.org/SearchOrder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="OrderSearchServiceSoap12" type="tns:OrderSearchServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SearchOrder">
      <soap12:operation soapAction="http://tempuri.org/SearchOrder" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="OrderSearchService">
    <wsdl:port name="OrderSearchServiceSoap" binding="tns:OrderSearchServiceSoap">
      <soap:address location="http://localhost:51061/OrderSearchService.asmx" />
    </wsdl:port>
    <wsdl:port name="OrderSearchServiceSoap12" binding="tns:OrderSearchServiceSoap12">
      <soap12:address location="http://localhost:51061/OrderSearchService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>